
<div class="page-header">
<h1><%= @user.profile_name %></h1>
</div>

    <%= image_tag @user.image.url %>

<p>
<div class="row">
<div class="col-md-4">
<div div class="well well-sm">
<p><strong>Name</strong></p> <%= @user.profile_name %>
<p><strong>User</strong></p> <%= link_to user_path(@user) %> 
<p><%= link_to "Follow", follow_user_path(@user), class: "btn btn-success" %>
<%= link_to "UnFollow", unfollow_user_path(@user), class: "btn btn-primary" %></p>
</div> 
</div>
</div>


  
  <div class="page-header">
  <h1>All of your statuses</h1>
</div>

<%= link_to "Post New Status", new_status_path, class: "btn btn-info" %>

    <% @statuses.each do |status| %>
    <div class="status">


      <p><%= status.user.try(:profile_name) %></P>
      <p><%= status.content %></P>
      <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
        <span class"admin">
      
          | <%= link_to 'Edit', edit_status_path(status) %> |
          <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %>
    

        </span>
      </div>
    </div>
  <% end %>
     

 






